html,
body {
  background: var(--xray-bg);
}
#footer {
  text-align: center;
  font-size: 75%;
  margin: 0 0 1em;
  background: none;
}
#footer a {
  color: #014b61;
}
#footer a:hover {
  color: #03536c;
  text-decoration: underline;
}
a:visited, .results a:visited:not(#\0) {
  color: #650b7b;
}
a:link, .results a:link:not(#\0) {
  color: #023574;
}
.list {
  background: none;
}
.results th, .results_lite th {
  border: none;
}
.active_choice {
  font-weight: bold;
}

/************************************************ ATTACHMENT VIEW */
mr-header {
  background-color: var(--xray-header-bg);
  border: none;
}
.t2 h3 {
  background: none;
}

.t2 h3 a {
  font-weight: bold;
}
.fc #lines {
  border-left: none;
}
pre.prettyprint {
  border: none;
}

:root {
  --xray-meta-width: 16rem;
  --xray-100: 12px;
  --xray-100-neg: calc(-1 * var(--xray-100));
  --xray-150: calc(1.5 * var(--xray-100));
  --xray-200: calc(2 * var(--xray-100));
  --xray-200-neg: calc(-1 * var(--xray-200));
  --xray-250: calc(2.5 * var(--xray-100));
  --xray-250-neg: calc(-1 * var(--xray-250));
  --chops-main-font-size: 16px;
  --monorail-header-height: 50px;
  /* colors */
  --xray-header-bg: #094888;
  --xray-header-color: #fff;
  --xray-header-input-bg: hsla(210, 100%, 70%, 0.24);
  --xray-header-input-bg-focus: hsla(210, 100%, 70%, 0.33);
  --xray-bg: #eee;
  --xray-meta-bg: #ddd;
  --xray-closed-bg: hsl(195, 30%, 26%);
  --xray-closed-color: hsl(202, 19%, 51%);
  --xray-dim-hl: #566b8e;
  --chops-page-bg: var(--xray-bg);
  --chops-primary-font-color: #000;
  --chops-active-choice-bg: #00923d;
  --chops-active-choice-color: #fff;
  --chops-choice-bg: #325435;
}
@media (prefers-color-scheme: dark) {
  :root {
    --xray-header-bg: #094888;
    --xray-header-color: #fff;
    --xray-header-input-bg: hsla(210, 100%, 70%, 0.24);
    --xray-header-input-bg-focus: hsla(210, 100%, 70%, 0.33);
    --xray-bg: #222;
    --xray-meta-bg: #181818;
    --xray-closed-bg: hsl(195, 30%, 26%);
    --xray-closed-color: hsl(202, 19%, 51%);
    --xray-dim-hl: #566b8e;
    --chops-page-bg: var(--xray-bg);
    --chops-primary-font-color: #aaa;
    --chops-secondary-header-bg: #111;
    --chops-normal-border: 1px solid #333;
    --chops-active-choice-bg: #00923d;
    --chops-active-choice-color: #fff;
    --chops-choice-bg: #325435;
  }
  #footer a {
    color: #8b9fa5;
  }
  #footer a:hover {
    color: #40606a;
  }
  a:visited, .results a:visited:not(#\0) {
    color: #e094f3;
  }
  a:link, .results a:link:not(#\0) {
    color: #8dcfff;
  }

  ::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    background: #1a1a1a
  }
  ::-webkit-scrollbar-button:single-button {
    background: radial-gradient(circle at center, #333 40%, #1a1a1a 0)
  }
  ::-webkit-scrollbar-button:single-button:hover {
    background: radial-gradient(circle at center, #444 40%, #1a1a1a 0)
  }
  ::-webkit-scrollbar-button:single-button:active {
    background: radial-gradient(circle at center, #555 40%, #1a1a1a 0)
  }
  ::-webkit-scrollbar-track-piece {
    background: #333;
    border: 4px solid #1a1a1a;
    border-radius: 8px
  }
  ::-webkit-scrollbar-track-piece:hover {
    background: #444
  }
  ::-webkit-scrollbar-track-piece:active {
    background: #555
  }
  ::-webkit-scrollbar-thumb {
    border: 3px solid #1a1a1a;
    border-radius: 8px;
    background: #555
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #666
  }
  ::-webkit-scrollbar-thumb:active {
    background: #777
  }
  :-webkit-autofill {
    box-shadow: inset 0 0 0 1000px #111;
    -webkit-text-fill-color: #fff
  }

  /************************************************ ATTACHMENT VIEW */
  mr-header {
    background-color: var(--xray-header-bg);
  }
  .t2 h3 {
    color: #ffbc00;
  }
  .t2 h3 a {
    color: #ff6a00;
  }
  #lines .kwd {
    color: #c6973e;
  }
  #lines .pln {
    color: #ccc;
  }
  #lines .pun {
    color: #888;
  }
  #lines .typ {
    color: #ff39ff;
  }
  #lines .lit {
    color: #55b9b9;
  }
  #lines .str {
    color: #4dc14d;
  }
}

/************************************************ ALL */

@shadow * {
  a:link {
    text-decoration: none;
    color: #023574;
  }
  a:link:hover {
    text-decoration: underline;
  }
  a:visited {
    color: #650b7b;
  }
  @media (prefers-color-scheme: dark) {
    a:link {
      color: #64baff;
    }
    a:visited {
      color: #a88cff;
    }
  }
}

/************************************************ HEADER */

/*@shadow mr-app {*/
  mr-header {
    background-color: var(--xray-header-bg);
    border: none;
  }
/*}*/
@shadow mr-header {
  .project-logo {
    display: none;
  }
  mr-dropdown + a[href*="ServiceLogin"] {
    color: var(--xray-header-color);
  }
}
@shadow mr-dropdown.project-selector,
        mr-dropdown[\.icon="arrow_drop_down"] {
  button.anchor {
    color: var(--xray-header-color);
  }
  .menu {
    background: #376c9a;
    border: none;
    padding: var(--xray-100);
    min-width: 0;
  }
  .menu hr {
    background: #0248;
    margin: var(--xray-100) 0;
  }
  .menu a:hover {
    background: none;
  }
}
@shadow mr-dropdown.project-selector,
        mr-dropdown[icon="settings"],
        mr-dropdown[\.icon="arrow_drop_down"],
        #searchq ~ mr-dropdown,
        mr-search-bar {
  i.material-icons:not(#\0) {
    color: #6eadd4 !important;
  }
}
@shadow mr-search-bar {
  .select-container,
  #searchq ~ mr-dropdown {
    background: none;
    border: none;
  }
  .select-container select {
    opacity: .6;
  }
  form:focus-within select {
    background-color: orange !important;
    color: black !important;
    opacity: 1;
  }
  .select-container select:not(#\0),
  #searchq:not(#\0),
  #searchq + button:not(#\0) {
    background-color: var(--xray-header-input-bg);
    color: var(--xray-header-color);
    border: none;
  }
  #searchq:focus {
    background-color: var(--xray-header-input-bg-focus);
  }
  #searchq::placeholder {
    color: var(--xray-header-color);
    opacity: .5;
  }
}
@shadow mr-mode-selector {
  a:link,
  a:visited {
    color: #fff;
  }
  a[aria-current="false"] {
    background: #0e73176b;
  }
}

/************************************************ PAGE */

@shadow mr-list-page {
  :host {
    padding: 0;
    --mr-edit-field-padding: 0;
  }
}

/*@shadow mr-issue-page {*/
  .container-issue-content {
    padding: 0;
  }
  .issue-header-container {
    margin: 0;
    width: auto;
  }
  mr-issue-details {
    max-width: none;
    padding: 0;
    background: var(--xray-bg);
  }
  .metadata-container {
    background: linear-gradient(var(--xray-meta-bg) 95%, var(--xray-bg) 100%);
    min-width: 0;
    width: var(--xray-meta-width);
    border: none;
  }
  mr-issue-metadata {
    max-height: 100vh;
    width: var(--xray-meta-width);
    position: fixed;
  }
  mr-restriction-indicator {
    background: linear-gradient(90deg, #00f6ff, transparent);
    color: #004257;
    border: none;
  }
  @media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar {
      width: 14px;
      height: 14px;
      background: #1a1a1a
    }
    ::-webkit-scrollbar-button:single-button {
      background: radial-gradient(circle at center, #333 40%, #1a1a1a 0)
    }
    ::-webkit-scrollbar-button:single-button:hover {
      background: radial-gradient(circle at center, #444 40%, #1a1a1a 0)
    }
    ::-webkit-scrollbar-button:single-button:active {
      background: radial-gradient(circle at center, #555 40%, #1a1a1a 0)
    }
    ::-webkit-scrollbar-track-piece {
      background: #333;
      border: 4px solid #1a1a1a;
      border-radius: 8px
    }
    ::-webkit-scrollbar-track-piece:hover {
      background: #444
    }
    ::-webkit-scrollbar-track-piece:active {
      background: #555
    }
    ::-webkit-scrollbar-thumb {
      border: 3px solid #1a1a1a;
      border-radius: 8px;
      background: #555
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #666
    }
    ::-webkit-scrollbar-thumb:active {
      background: #777
    }
    :-webkit-autofill {
      box-shadow: inset 0 0 0 1000px #111;
      -webkit-text-fill-color: #fff
    }
  }
/*}*/

/************************************************ TITLE */

@shadow mr-issue-header {
  :host {
    background: linear-gradient(to right,
      #0000,
      hsla(207, 90%, 54%, 0.75) var(--xray-meta-width),
      hsl(207, 90%, 54%) var(--xray-meta-width));
    margin-left: calc(-1 * var(--xray-meta-width));
    padding: var(--xray-100) 0 var(--xray-100) calc(var(--xray-meta-width) + var(--xray-150));
    border: none;
    width: auto;
    pointer-events: none;
  }
  :host > * {
    pointer-events: auto;
  }
  h1 {
    font-size: 130%;
    color: #fff;
  }
  mr-flipper {
    display: none;
  }
  .byline {
    font-size: 0;
    line-height: 1rem;
  }
  mr-user-link {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 1em;
  }
  chops-timestamp {
    font-size: 1rem;
    color: #fff8;
  }
  .role-label {
    font-size: .75rem;
    vertical-align: super;
    background: #0003;
  }
}
@shadow .issue-actions mr-crbug-link {
  a:link {
    color: #001e56;
  }
}
@shadow chops-toggle[title="Code font"] {
  label {
    border: none;
    color: #001e56;
  }
}
/************************************************ METADATA */

@shadow mr-issue-metadata,
        mr-metadata {
  .star-line {
    flex-direction: column;
  }
  .bottom-section-cell {
    display: block;
  }
  th, td, h3 {
    display: block;
    width: auto;
    padding: 0;
    margin: 0;
  }
  th {
    margin-top: var(--xray-100);
  }
  td,
  h3 + div {
    padding-left: var(--xray-100);
  }
  th, h3 {
    font-size: 11px !important;
  }
  a[href*="list?q=component:"] {
    background-color: hsl(46, 100%, 50%);
    border-radius: .5em;
    box-shadow: 2px 1px 3px #0006;
    color: #000 !important;
    display: inline-block;
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: .25em;
    margin-left: -.5em;
    padding: .15em .5em;
  }
  a.label {
    background: #125a9433;
    padding: .15em .5em;
    position: relative;
    display: inline-block;
    border-radius: .5em;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
  }
  a.label[title^="TE-Verified"] {
    color: #cbff86;
    background-color: #6cab06;
  }
  a.label[title^="merge-merged-" i] {
    background-color: #9900b9;
    color: #fa88ff;
  }
  a.label[title^="ReleaseBlock-"] {
    background-color: #c00;
    color: #fff;
  }
  a.label[title^="Restrict-"] {
    background-color: #009ca2;
    color: #00fffd;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 90%;
  }
  .row-status {
    color: darkcyan;
    font-weight: bold;
  }
  @media (prefers-color-scheme: dark) {
    a.label {
      background: #253e52;
    }
    a.label[title^="TE-Verified"] {
      color: darkgreen;
      background-color: #89ab55;
    }
    .row-status {
      color: cyan;
    }
  }
}
@shadow mr-issue-star {
  :host {
    --mr-star-size: 4rem;
  }
  i.material-icons,
  i.material-icons.starred {
    color: #005688;
  }
  i.material-icons:not(.starred) {
    opacity: .33;
  }
  @media (prefers-color-scheme: dark) {
    i.material-icons,
    i.material-icons.starred {
      color: #fff;
    }
  }
}
@shadow chops-dialog {
  .dialog-content {
    background: var(--xray-bg);
    color: var(--chops-primary-font-color);
  }
}
@shadow mr-related-issues {
  th, td {
    background: none;
    border: none;
  }
}

/************************************************ OP */

@shadow mr-description {
  :host {
    margin: 0 !important;
    padding: var(--xray-100) var(--xray-100) var(--xray-150) var(--xray-150);
    background-color: var(--xray-bg);
  }
}

/************************************************ COMMENT */

@shadow mr-comment {
  :host {
    margin: 0 0 var(--xray-100) 0;
  }
  .comment-header {
    margin: 0 0 var(--xray-100) var(--xray-100-neg);
    width: auto;
    padding: var(--xray-100) var(--xray-100) var(--xray-100) var(--xray-250);
    background: linear-gradient(90deg, hsla(213, 20%, 50%, 0.32), transparent);
  }
  .comment-header a {
    color: #6895bd;
  }
  .comment-body {
    margin: 0 var(--xray-100) 0 var(--xray-150);
  }
  .role-label {
    background: #01549c;
  }
  .issue-diff {
    width: auto;
    max-width: 35em;
    background: linen;
    border: 1px solid wheat;
    font-size: .8rem;
    border-radius: .8rem;
    display: inline-block;
    position: relative;
    top: var(--xray-200-neg);
    margin: 0 0 var(--xray-200-neg) var(--xray-100) !important;
    padding: .5em 1em;
    box-shadow: 1px 2px 4px #0004;
  }
  chops-timestamp {
    color: var(--xray-dim-hl);
  }
  :host([highlighted]) {
    box-shadow: none;
    border: none;
  }
  :host([highlighted]) .comment-header {
    background: linear-gradient(90deg, #cb97dc, #cb97dc11);
  }
  :host([highlighted]) .comment-header a {
    color: #fff;
    font-weight: bold;
  }
  :host([highlighted]) .comment-body {
    outline: 2px dotted blueviolet;
    outline-offset: var(--xray-100);
    margin-left: calc(var(--xray-100) - var(--xray-150));
    margin-right: 2px;
    padding-left: calc(var(--xray-150) - var(--xray-100));
  }
  :host([highlighted]) .role-label {
    background: blueviolet;
  }
  :host([highlighted]) chops-timestamp {
    color: #b464ff;
  }
  @media (prefers-color-scheme: dark) {
    .issue-diff {
      color: #ccc;
      background: #111;
      border-color: #444;
      box-shadow: 1px 2px 8px #111;
    }
    chops-timestamp {
      color: var(--xray-dim-hl);
    }
    :host([highlighted]) .comment-header {
      background: linear-gradient(90deg, blueviolet, hsla(284, 100%, 50%, 0.1));
    }
  }
}
@shadow mr-comment-content {
  a[href*="//crrev.com/"] {
    color: #8b5600;
  }
  @media (prefers-color-scheme: dark) {
    :host {
      color: #bbb;
    }
    a[href*="//crrev.com/"] {
      color: #b99250;
    }
  }
}

/************************************************ USER LINK */

@shadow mr-user-link,
        mr-comment-content {
  a {
    color: #64baff;
  }
  a[title*="@chromium.org"][href^="/u/"],
  a[href*="@chromium.org"] {
    color: #075700;
  }
  a[title*="@google.com"],
  a[href*="@google.com"] {
    color: #3a6c00;
  }
  a[title*="@microsoft.com"],
  a[href*="@microsoft.com"] {
    color: #8d6900;
  }
  @media (prefers-color-scheme: dark) {
    a[title*="@chromium.org"][href^="/u/"],
    a[href*="@chromium.org"] {
      color: #69bd63;
    }
    a[title*="@google.com"],
    a[href*="@google.com"] {
      color: #9cc900;
    }
    a[title*="@microsoft.com"],
    a[href*="@microsoft.com"] {
      color: #d9a407;
    }
  }
  a[href*="rob@robwu.nl"],
  a[title="rob@robwu.nl"],
  a[href*="woxxom@gmail.com"],
  a[title="woxxom@gmail.com"] {
    font-weight: bold;
    border-bottom: 8px double currentcolor;
  }
}
@shadow mr-user-link[aria-label="issue reporter"] {
  a:link {
    color: #25e1ff;
    font-weight: bold;
  }
  a[title*="@chromium.org"][href^="/u/"],
  a[href*="@chromium.org"] {
    color: #00ef22;
  }
  a[title*="@google.com"],
  a[href*="@google.com"] {
    color: #93ef00;
  }
}

/************************************************ ATTACHMENT */

@shadow mr-attachment {
  #view-link {
    display: none;
  }
  .comment-attachment {
    min-width: 0;
    background: #e4c997;
    border: 1px solid #b79659;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 11px;
    padding: var(--xray-100);
    margin: var(--xray-100) 0 0;
  }
  @media (prefers-color-scheme: dark) {
    .comment-attachment {
      background: #333;
      border: none;
      box-shadow: 3px 5px 16px #0006;
    }
    .comment-attachment:hover {
      background: #383838;
    }
    .filename {
      color: #eee;
    }
    .preview {
      border-color: #555;
      border-radius: .75rem;
    }
    .preview:hover {
      border-color: #666;
    }
    chops-button.attachment-delete {
      background: #555;
      color: #ccc;
    }
    chops-button.attachment-delete:hover {
      background: #666;
      color: #ddd;
    }
  }
}

/************************************************ EDITOR */

/*@shadow mr-edit-issue {*/
  #makechanges {
    display: none;
  }
  mr-edit-issue > * {
    margin: 0 var(--xray-100) 0 var(--xray-150);
  }
/*}*/
/*@shadow mr-edit-metadata {*/
  .star-line {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }
  textarea {
    width: 100% !important;
  }
  mr-upload {
    border: none;
    padding: 0;
  }
  @media (prefers-color-scheme: dark) {
    textarea {
      color: #eee;
      background-color: #111;
      border-color: #333;
    }
    .discard-button {
      background: #444;
      color: #999;
    }
  }
/*}*/
@shadow mr-upload {
  color: #fff;
  background: #2f8a00;
  border-color: #0c770c;
  padding: 4px 1em 4px .5em;
}

/************************************************ ISSUE LIST */

@shadow mr-issue-list {
  .col-summary, .header-summary {
    overflow-wrap: break-word;
    max-width: 50vw;
    width: auto;
  }
  .col-opened,
  .col-modified {
    white-space: nowrap;
  }
  .col-modified + .col-opened {
    color: var(--chops-gray-400);
  }
  th {
    border: none;
    background: #cbdae8;
  }
  @media (prefers-color-scheme: dark) {
    :host {
      color: #ccc;
    }
    th {
      background: #333;
    }
    td {
      border-color: #333;
    }
  }
}

/************************************************ ISSUE LINK */

@shadow mr-issue-link {
  a[is-closed]:link {
    text-decoration: line-through;
  }
  a[is-closed]:link:hover {
    text-decoration: line-through underline;
  }
}
