:root {
  --page-background: #181818;
  --default-color: #bbb;
  --unimportant-text-color: #888;
  --table-row-background: #341e48;
  --accordion-background: #4b147e;
  --light-accent-color: #0087c114;
  --heading-color: #DDD;
  --button-color: deepskyblue;
  --default-border: 1px solid #444;
  --sl-panel-background-color: var(--page-background);
  --md-red-50: #d32f2f;
  --md-red-600: #E53935;
  --md-red-700: #ffebee;
  --md-light-blue-50: #003967;
  --md-blue-50: #01579b;
  --md-blue-100: #1565C0;
  --md-blue-700: #1976d2;
  --md-blue-800: #bbdefb;
  --md-blue-900: #E3F2FD;
  --md-green-50: #1b501e;
  --md-green-600: #43A047;
  --md-green-700: #E8F5E9;
  --md-gray-50: #333;
  --md-gray-100: #555;
  --md-gray-300: #777;
  --md-gray-800: #999;
  --md-gray-50-alpha: #fff1;
  --md-gray-100-alpha: #fff3;
  --md-gray-700-alpha: #fff5;
  --md-gray-900-alpha: #fff7;
}

.search input {
  background: #000;
  color: #ddd;
  border-color: #333;
}
.search input:focus, app-drawer #papermenu paper-item:hover {
  color: #fff;
}

@shadow * {
  :host {
    --page-background: #181818;
    --card-background: #222;
    --card-border: 1px solid #333;
    --heading-color: #DDD;
    --nav-link-color: cornflowerblue;
    --link-color: cornflowerblue;
    --link-hover-color: lightblue;
    --dark-spot-color: orange;
    --md-blue-900: orange;
  }
}

@shadow chromedash-header, chromedash-drawer {
  nav a:hover {
    color: #fff !important;
  }
}

@shadow chromedash-roadmap-milestone-card {
  :host {
    background: #222;
  }
  .release {
    background: #333;
  }
  .milestone_info:nth-of-type(3) {
    border-bottom: 1px solid #222;
  }
}

@shadow chromedash-feature {
  :host {
    background: #222;
    border-color: #333;
  }
  section .impl_status > span:nth-of-type(2n+1) {
    background: #0002;
  }
  section .views .view {
    background: #fff1;
  }
}

@shadow chromedash-feature-detail {
  .active .card {
    border: none;
  }
}

@shadow chromedash-stack-rank-page {
  h3 {
    color: #ccc !important;
  }
}

@shadow chromedash-stack-rank-page, chromedash-timeline {
  :host {
    --md-yellow-100: #400038;
  }
  h3 {
    color: #ccc !important;
  }
  rect {
    fill: transparent;
  }
  rect[width="1"], rect[height="1"] {
    fill: #444;
  }
  text {
    fill: #bbb;
  }
}

@shadow chromedash-gantt {
  .empty {
    background: #333;
  }
  .chart .dev_trial {
    background: #5e5843;
  }
  .chart .origin_trial {
    background: #0c4a4a;
  }
}

@shadow sl-skeleton {
  .skeleton__indicator, .skeleton--sheen .skeleton__indicator {
    background: #0002;
  }
}

@shadow sl-tag {
  .tag {
    background-color: #333 !important;
    color: #aaa !important;
  }
}

