html, body {
  font-size: 15px;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background: #202124;
  }
}

@shadow :not(gr-main-header):not(gr-endpoint-decorator) {
  @media (prefers-color-scheme: dark) {
    a:visited {
      color: #e094f3;
    }
    a:link {
      color: #8dcfff;
    }
  }
  @media not screen and (prefers-color-scheme: dark) {
    a:visited {
      color: #cc00ff;
    }
    a:link {
      color: #0061a9;
    }
  }
}

@shadow gr-change-view {
  [name="change-view-integration"] {
    display: none;
  }
}

@shadow gr-linked-text {
  #output {
    font-family: sans-serif;
    font-size: 17px;
  }
}

@shadow gr-file-list {
  .reviewed {
    display: none;
  }
}
