:root {
  --page-background: #181818;
  --default-color: #bbb;
  --unimportant-text-color: #888;
  --table-row-background: #341e48;
  --accordion-background: #4b147e;
  --light-accent-color: #0087c114;
  --heading-color: #DDD;
  --button-color: deepskyblue;
  --default-border: 1px solid #444;
}

.search input {
  background: #000;
  color: #ddd;
  border-color: #333;
}
.search input:focus, app-drawer #papermenu paper-item:hover {
  color: #fff;
}

@shadow * {
  :host {
    --page-background: #181818;
    --card-background: #222;
    --card-border: 1px solid #333;
    --heading-color: #DDD;
    --nav-link-color: cornflowerblue;
    --link-color: cornflowerblue;
    --link-hover-color: lightblue;
    --dark-spot-color: orange;
    --md-blue-900: orange;
  }
}

@shadow chromedash-header {
  header nav a:hover {
    color: #fff;
  }
}

@shadow chromedash-roadmap-milestone-card {
  :host {
    background: #222;
  }
  .release {
    background: #333;
  }
  .milestone_info:nth-of-type(3) {
    border-bottom: 1px solid #222;
  }
}

@shadow chromedash-feature {
  :host {
    background: #222;
    border-color: #333;
  }
  section .impl_status > span:nth-of-type(2n+1) {
    background: #0002;
  }
  section .views .view {
    background: #fff1;
  }
}

@shadow chromedash-stack-rank-page {
  h3 {
    color: #ccc !important;
  }
}

@shadow chromedash-stack-rank-page, chromedash-timeline {
  :host {
    --md-yellow-100: #400038;
  }
  h3 {
    color: #ccc !important;
  }
  rect {
    fill: transparent;
  }
  rect[width="1"], rect[height="1"] {
    fill: #444;
  }
  text {
    fill: #bbb;
  }
}

@shadow chromedash-gantt {
  .empty {
    background: #333;
  }
  .chart .dev_trial {
    background: #5e5843;
  }
  .chart .origin_trial {
    background: #0c4a4a;
  }
}

@shadow sl-skeleton {
  .skeleton__indicator, .skeleton--sheen .skeleton__indicator {
    background: #0002;
  }
}
